<!DOCTYPE html>
<html lang="zh" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main.html}">
<body layout:fragment="content">
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this"><a href="#">test demo</a></li>
		</ul>
	</div>
	<div class="layui-form layui-tab-content" id="LAY_ucm"
		style="padding: 5px 0;">
		<div class="layui-tab-item layui-show">
			<div class="layui-main">
				<!-- 主框架内 -->

				test demo

				<!-- /主框架内 -->
			</div>
		</div>
	</div>


	<script>

	</script>

</body>
</html>