<!DOCTYPE html>
<html lang="zh" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main.html}">
<body layout:fragment="content">
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this"><a href="#">资源编辑</a></li>
		</ul>
	</div>
	<div class="layui-form layui-tab-content" id="LAY_ucm"
		style="padding: 5px 0;">
		<div class="layui-tab-item layui-show">
			<div class="layui-main">
				<!-- 主框架内 -->

				<form action="/resource/update" method="post">
					<input id="id" name="id" type="hidden" th:value="${model.id}">
					
					<div class="layui-form-item">
						<label class="layui-form-label">资源名称</label>
						<div class="layui-input-inline" style="width: 20%;">
							<input id="name" name="name" type="text" placeholder="资源名称" class="layui-input" th:value="${model.name}">
						</div>
					</div>

					<input id="type" name="type" type="hidden" th:value="${model.type}">
					<div class="layui-form-item">
						<label class="layui-form-label">资源类型</label>
						<div class="layui-input-inline" style="width: 20%;">
							<select id="typeselect" class="layui-input-inline" onchange="selectChange()" lay-filter="typeselect">
								<option value='0'>--请选择--</option>
								<option th:each="item,userStat:${typeList}" th:value="${item.key}" th:text="${item.value}"></option>
							</select>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">资源地址</label>
						<div class="layui-input-inline" style="width: 20%;">
							<input id="url" name="url" type="text" placeholder="url" class="layui-input" th:value="${model.url}">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">访问权限码</label>
						<div class="layui-input-inline" style="width: 20%;">
							<input id="permission" name="permission" type="text" placeholder="权限码 e.g. resource:*" class="layui-input" th:value="${model.permission}">
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label">优先级</label>
						<div class="layui-input-inline" style="width: 20%;">
							<input id="priority" name="priority" type="text" placeholder="0-9 数字" class="layui-input" th:value="${model.priority}">
						</div>
					</div>
					
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" type="button"
								onclick="doSave()">提交</button>
							<button type="reset" class="layui-btn layui-btn-primary"
								onclick="doReturn()">返回</button>
						</div>
					</div>
				</form>

				<!-- /主框架内 -->
			</div>
		</div>
	</div>

	<script>
		layui.use('form', function() {
			var form = layui.form;
			$("#typeselect").val($('#type').val());	//绑定 select 默认值
			form.render();
		});
	
		function doSave() {
			if(Validate()){
				document.forms[0].submit();
			}
		}
		
		function Validate() {
			var name = $('#name').val();
			if(name==null || name==""){
				alert("资源名称不能为空！");
				return false;
			}
			var type = $("#typeselect option:selected").val();
			if(type==null || type==""){
				alert("资源类型不能为空！");
				return false;
			}
			return true;
		}
		
		function doReturn(){
			window.open(BASE_URL + "resource/list","_self");
		}
		
	</script>

</body>
</html>