<!DOCTYPE html>
<html lang="zh" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main.html}">
<body layout:fragment="content">
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this"><a href="#">资源管理</a></li>
		</ul>
	</div>
	<div class="layui-form layui-tab-content" id="LAY_ucm"
		style="padding: 5px 0;">
		<div class="layui-tab-item layui-show">
			<div class="layui-main">
				<!-- 主框架内 -->

				<table id="auth-table" class="layui-table" lay-filter="auth-table"></table>

				<!-- /主框架内 -->
			</div>
		</div>
	</div>

	<!-- 操作列 -->
	<script type="text/html" id="oper-col">
		<a class="layui-btn layui-btn-info layui-btn-xs" lay-event="add">添加子节点</a>
    	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>

	<script>
		layui.config({
	        base: RESOURCE_URL
	    }).extend({
	        treetable: 'treetable-lay/treetable'
	    }).use(['table', 'form', 'element', 'treetable'], function () {
	        var $ = layui.jquery;
	        var table = layui.table;
	        var form = layui.form;
	        var element = layui.element;
	        var treetable = layui.treetable;
	
	        // 渲染表格
	        var renderTable = function () {
	            layer.load(2);
	            treetable.render({
	            	treeDefaultClose: false,
	            	treeColIndex: 1,
	                treeSpid: 0,
	                treeIdName: 'id',
	                treePidName: 'parentId',
	                elem: '#auth-table',
	                url: "/api/resource/data?parentId=0",
	                page: false,
	                cols: [
	                		[
			                    {type: 'numbers'},
			                    {field: 'name', title: '资源名称'},
			                    {
			                        field: 'type', width: 80, align: 'center', templet: function (d) {
			                            if (d.type == 'menu') {
			                            	return '<span class="layui-badge layui-bg-blue">目录</span>';
			                                
			                            }
			                            if (d.type == 'button') {
			                            	return '<span class="layui-badge layui-bg-gray">按钮</span>';
			                            } else {
			                                return d.type;
			                            }
			                        }, title: '类型'
			                    },
			                   
			                    {field: 'url', title: '资源地址'},
			                    {field: 'permission', title: '权限码'},
			                    {templet: '#oper-col', title: '操作'}
	                		]
	                	],
	                done: function () {
	                    layer.closeAll('loading');
	                }
	            });
	            //treetable.foldAll('#auth-table');
	            //treetable.expandAll('#auth-table');
	            
	        };
	
	        renderTable();

	        //监听工具条
	        table.on('tool(auth-table)', function (obj) {
	            var data = obj.data;
	            var layEvent = obj.event;

	            if (layEvent === 'del') {
	            	layer.confirm('真的删除行么', function(index){
	            		resourceDel(data);
	        		});
	                //layer.msg('删除' + data.id);
	            } else if (layEvent === 'edit') {
	                //layer.msg('修改' + data.id);
	                resourceEdit(data);
	            } else if (layEvent === 'add') {
	            	//layer.msg('新增子节点' + data.id);
	            	resourceAdd(data);
	            }
	        });
	
	    });
		
		function resourceAdd(data){
			window.open(BASE_URL + "resource/child?rootId="+data.parentId+"&parentId="+data.id+"&parentName="+data.name,"_self");
		}
		
		function resourceEdit(data){
			window.open(BASE_URL + "resource/edit?id="+data.id,"_self");
		}
		
		function resourceDel(obj){
			params = {
					id : obj.id
				};
			$.ajax({
				type : "post",
				data : params,
				url : "/api/resource/delete",
				success : function(resObj) {
					//alert(resObj.msg);
					window.open(BASE_URL + "resource/list","_self");
				}
			});
		}
	</script>

</body>
</html>